
h1 {
 color: #000080 ;
 }


.Header{
    background-color: #000000;
    display: flex;
    justify-content : space-between;
}
.grid {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly ;
}
p,h2 {
text-align: center;
}
body{
    background-color: #808080;
}